{% extends 'base.html' %}
{% load static %}
{% block content%}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
<h3>Customers List</h3>
<table class="table">
   <thead>
   <tr>
       <th>PHOTO</th>
       <th>NAME</th>
       <th>ADMISSION_NUMBER</th>
       <th>PHONE_NUMBER</th>
       <th>EMAIL</th>
       <th>GENDER</th>
       <th>AGE</th>

   </tr>
   </thead>
<tbody>
{% for customer in data %}
   <tr>
       <td>
           {% if customer.image %}
           <img src="{{ customer.image.url }}" alt="{{ customer.name }}" style="width: 80px; height: 80px; object-fit: cover">
           {% else %}
           <img src="{% static 'images/placeholder.jpg' %}" alt="No image" style="width: 80px; height: 80px; object-fit: cover">
           {% endif %}
       </td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.admissionNumber}}</td>
            <td>{{ customer.phoneNumber}}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.age }}</td>
            <td><a href="{% url 'update' customer.id %}" class="btn btn-success" type="button">UPDATE</a></td>
       <td><a href="{% url 'delete' customer.id %}" class="btn btn-danger" type="button" onClick="return confirm('Are you sure you want to delete this customer?')">DELETE</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci, alias, aliquid aut consectetur cum deleniti dolore eaque eius et eum eveniet ex explicabo harum illo molestias nisi nobis optio provident qui quis quo, quos sint tenetur voluptas? Ab aliquam aspernatur cum, cupiditate enim magnam minima molestiae unde voluptate. Accusantium autem culpa facere iste minima nam odio, perferendis possimus quod.</p>
{% endblock %}